$white: #fff;
$gray-light: #ccc;
$gray: #b1b1b1;
$gray-dark: #808080;
$opacity-gray: #a5838350;
$black: #000;
$blue: #0071bd;
$gradient-purchase: linear-gradient(45deg, #eb3a3a, #e93600, #073a74, #e93600, #eb3a3a);